<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/styles/main.css">
  <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</head>

<body>
  <div class="container">
    <section>
      <div id="order">
          <form name="ordine" id="ordine" method="post" action="/">
                  <select name="ord" id="ord" onchange="document.ordine.submit();" >
                      <option value="id" <%if (ordine=="id") {%> <%="selected"%> <%}%>>Ordina per Data</option>
                      <option value="punteggio" <%if (ordine=="punteggio") {%> <%="selected"%> <%}%>>Ordina per Valutazione</option>
                  </select>
          </form>
      </div>
  </section>
    <h1>My Blog</h1>
    <form name="frmDel" id="frmDel" method="post" action="/">
      <input type="hidden" name="id" id="id" value="">
    </form>
    <ul id="postsList">
      <% posts.forEach(post=> { %>
        <li>
          <h2>
            <%=post.titolo%>
          </h2>
          <img src="https://covers.openlibrary.org/b/id/<%= post.id %>-M.jpg">
          <small>
            <%=post.punteggio %>
          </small>
          <p>
            <%=post.testo%>
          </p>
          <a class="edit" href="/edit/<%= post.id %>">Edit</a>
          <a class="delete" href="#" onclick="document.getElementById('id').value=<%= post.id %>;frmDel.submit()">Delete</a>
        </li>
        <% }); %>
    </ul>
  </div>

</body>

</html>